:root {
    --bg-main: #F8F9FD;
    --bg-accent: #4770F0; 
    --bg-separator: #DCDCDC;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;

    background-color: var(--bg-main);
}


/* Table */

.sessions-table {
    margin: 100px auto;
    width: 1000px;

    border: 1px solid var(--bg-separator);
    border-collapse: collapse;
}

.sessions-table td {
    border: 1px solid var(--bg-separator);
}

.sessions-table > .table-head {
    color: #fff;

    background-color: var(--bg-accent);
}

.table-head > .head-row,
.table-rows > .content-row {
    height: 50px;
}

.head-row > * {
    text-align: center;

    border-color: var(--bg-accent) !important;
}

.sessions-table > .table-rows {
    background-color: #fff;
}

.content-row > * {
    padding-left: 20px;
}

.table-rows > .content-row:nth-child(2n) {
    background-color: #F5F5F5;
}